<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Shelter</title>
  <link rel="icon" href="https://i.imgur.com/VsHaHss.png">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item"><a href="/">Shelter</a></div>
    </div>
    <a href="/" class="item">Home</a>
      <a class="item">Alma</a>
  </div>

  <div id="main-container">
