<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Adopt <%= animal.name %></div>
    <form class="ui form" action="/animals/<%= animal._id %>/adopt?_method=PUT" method="POST">
        <div class="field">
            <label>Owner name</label>
            <input type="text" name="owner[name]" placeholder="Owner name">
        </div>
        <div class="field">
            <label>Zip Code</label>
            <input type="text" name="owner[zipCode]" placeholder="Zip Code">
        </div>
        <div class="field">
            <label>City</label>
            <input type="text" name="owner[city]" placeholder="City">
        </div>
        <div class="field">
            <label>Street</label>
            <input type="text" name="owner[street]" placeholder="Street">
        </div>
        <div class="field">
            <label>House Number</label>
            <input type="text" name="owner[houseNumber]" placeholder="House Number">
        </div>
        <div class="field">
            <label>Comment</label>
            <input type="text" name="owner[comment]" placeholder="Comment">
        </div>
        <input class="ui green big button" type="submit">
    </form>
</div>

<% include ./partials/footer %>
