<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Add Animal</div>
    <form class="ui form" action="/animals" method="POST">
        <div class="field">
            <label>Species</label>
            <input type="text" name="animal[species]" placeholder="Species">
        </div>
        <div class="field">
            <label>Name</label>
            <input type="text" name="animal[name]" placeholder="Name">
        </div>
        <div class="field">
            <label>Birth Date</label>
            <input type="date" name="animal[birthDate]" placeholder="Birth Date">
        </div>
        <div class="field">
            <label>Color</label>
            <input type="text" name="animal[color]" placeholder="Color"">
        </div>
        <div class="field">
            <label>Comment</label>
            <input type="text" name="animal[comment]" placeholder="Comment">
        </div>
        <div class="field">
            <label>Chip ID</label>
            <input type="text" name="animal[chipID]" placeholder="Chip ID">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="animal[image]" placeholder="Add image link">
        </div>
        <input class="ui green big button" type="submit">
    </form>
</div>

<% include ./partials/footer %>
