p {
  margin: 0px
}

.description-show {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container.main {
  margin-top: 5.0em;
}

.ui.main.text.container.segment {
  margin-top: 5.0em;
}

.animal-image {
  max-width:300px;
  width: auto;
  height: auto;
}

.author {
  font-style: italic;
}

#show-date {
  font-weight: bold;
}

#delete {
    display: inline;
}
